


.holder{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.slider{
    width: 800px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(231, 231, 231);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background:  rgb(128, 128, 128);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}

#radio9:checked ~ .first{
    margin-left: -160%;
}

#radio10:checked ~ .first{
    margin-left: -180%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    }
    
    .navigation-auto div{
    border: 2px  rgb(128, 128, 128);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    }
    
    .navigation-auto div:not(:last-child){
    margin-right: 40px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
    background:  rgb(128, 128, 128);
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
    background:  rgb(128, 128, 128);
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
    background:  rgb(128, 128, 128);
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
    }
    
    #radio5:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
    }
    
    #radio6:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
        }
    
    #radio7:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
    }
    
    #radio8:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
    }
            
    #radio9:checked ~ .navigation-auto .auto-btn4{
    background: rgb(128, 128, 128);
    }
    
    #radio10:checked ~ .navigation-auto .auto-btn4{
    background:  rgb(128, 128, 128);
    }
    
    /*css for automatic navigation */
    
    .navigation-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    }
    
    .navigation-auto div{
    border: 2px solid  rgb(128, 128, 128);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    }
    
    .navigation-auto div:not(:last-child){
    margin-right:  40px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
    background:  rgb(128, 128, 128);
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(128, 128, 128);
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(128, 128, 128);
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(128, 128, 128);
    }
    
    #radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(128, 128, 128);
    }
    
    #radio6:checked ~ .navigation-auto .auto-btn6{
    background:  rgb(128, 128, 128);
    }
    
    #radio7:checked ~ .navigation-auto .auto-btn7{
    background:  rgb(128, 128, 128);
    }
    
    #radio8:checked ~ .navigation-auto .auto-btn8{
    background:  rgb(128, 128, 128);
    }
    
    #radio9:checked ~ .navigation-auto .auto-btn9{
    background:  rgb(128, 128, 128);
    }
    
    #radio10:checked ~ .navigation-auto .auto-btn10{
    background: rgb(128, 128, 128); 
    }

    main {
        align-items: center;
        position: relative;
        padding: 1rem 1rem 3rem;
        min-height:35rem;
        }
    
        h1 {
        margin-top: 0;
        }
    
        .hidden {
        display: none;
        }
    
        .pagination-container {
        width: calc(100% - 2rem);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        padding: 1rem 0;
        justify-content: center;
        }
    
        .pagination-number,
        .pagination-button{
        font-size: 1.1rem;
        background-color: transparent;
        border: none;
        margin: 0.25rem 0.25rem;
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: .2rem;
        }
    
        .pagination-number:hover,
        .pagination-button:not(.disabled):hover {
        background: rgb(160, 160, 160);
        }
    
        .pagination-number.active {
        color: #fff;
        background: #3b3b3b;
        }
    
        footer {
        padding: 1em;
        text-align: center;
        background-color: #FFDFB9;
        }
    
        footer a {
        color: inherit;
        text-decoration: none;
        }
    
        li{
            list-style: none;
        }
    
        table{
            border: none;
        }

        table,tr,td,th{
            padding: 12px;
            text-align:center;
        }
        
        .card{
            margin-top: 15px;
        }
        
        .cont{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .card-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 10px;
        }
        
        .card-info{
            margin: 1px;
        }
        
        div .card{
            text-align: center;
            align-items: center;
            box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
            border-radius: 10px;
            overflow: hidden;
        }
        
        .card-info h3{
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 5px;
        }
        
        .card-info p{
            font-size: 1em;
            margin-bottom: 5px;
        }
    
    