*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans;
    text-decoration: none ; 

  }
  table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
	height: 100%;

  }
  td {
    border: 0px solid #ccc;
    text-align: center;
    padding: 5px;
  }
  #seme{
    color: white;
	
  }
  .pages{
    text-align: center;

  }
  .page{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: #242424;
  }
.page li{
    margin: 0.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: #ededed; 
}
.page a li{
    background-color: #363636;
    border: 15px solid #303030
}
.page a:hover li{
    background-color: #e7aa00;
    color: #1b1102;
}
.page a.active li{
    background-color: #c59102;
    color: white;
    border-color: #c59102;
    font-weight: 500;
    box-shadow: 0 0.5rem 1rem #717171;
}
#cont{
    color: white;
    size: 30px;
}